body {
    padding: 0rem;
    margin: 0rem;
}

html {
    scroll-behavior: smooth;
}

.sidenav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0rem;
    left: 0rem;
    background-color: rgba(8, 7, 7, 0.621);
    overflow: hidden;
    transition: 2s;
    padding: 0rem;

}

a:hover {
    color: gold;
}

a {
    padding: 2rem;
    text-decoration: none;
    font-size: 2rem;
    color: wheat;
    display: block;
    transition: 2s;
    text-align: center;

}

.closebtn {
    font-size: 2rem;
    padding: 0rem;
    color: blue;
    background-color: transparent;
    cursor: pointer;
    border: none;
    position: relative;
    top: 0rem;
    left: 1rem;

}

.line {

    border-bottom: 0.2rem solid black;
    position: relative;
    top: 3rem;

}

.openbtn {
    font-size: 2rem;
    padding: 0rem;
    color: blue;
    background-color: transparent;
    cursor: pointer;
    float: right;
    border: none;
    position: relative;
    top: 0rem;
    left: -1rem;

}

img {
    margin: auto;
    display: block;
    width: 100%;
    height: 30rem;
    position: relative;
    top: 1rem;

}

.heading>h1 {
    letter-spacing: 7rem;
    padding: 1rem;
    position: absolute;
    top: 4em;
    font-size: 3rem;
    color: white;
    left: 3rem;
}

.heading>h3 {
    letter-spacing: 7rem;
    padding: 1rem;
    position: absolute;
    top: 15rem;
    left: 17rem;
    font-size: 3rem;
    color: white;
}

#butt {
    position: relative;
    left: 34rem;
    bottom: 9rem;
    background-color: whitesmoke;
    color: black;
    padding: 1rem;
    border: none;
    font-size: 1.2rem;
    border-radius: 2rem;

}

#butt:hover {
    background-color: rgb(255, 217, 0);
    color: black;
}


img {
    margin: auto;
    display: block;
    width: 100%;
    position: absolute;
    top: 3rem;
}


.images-slideshow {
    width: 100%;
    position: relative;
    display: block;
    margin: auto;
}

.head {
    letter-spacing: 2rem;
    font-size: 2rem;
    position: relative;
    top: 2rem;
    left: 3;
}

/*Style for ">" next and "<" previous buttons */
.slider-btn {
    cursor: pointer;
    position: absolute;
    top: 20rem;
    width: auto;
    padding: 0.4rem 1rem;
    margin-top: -4rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease-in;
    border-radius: 0 0.2rem 0.2rem 0;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}


.previous {
    left: 2%;
}

.next {
    right: 2%;
}

.previous:hover,
.next:hover {
    color: rgb(255, 253, 253);
    background-color: rgba(0, 0, 0, 0.8);
}



.software {
    position:absolute;
    top: 13rem;
    left: 11rem;
    font-size: 3rem;
    letter-spacing: 6rem;
    color: white;
}

.soft {
    position: relative;
    top: 9rem;
    left: 11rem;
    font-size: 3rem;
    letter-spacing: 6rem;
    color: white;
}

#butt {

    top: 12rem;
    left: 36rem;
    background-color: whitesmoke;
    color: black;
    padding: 1rem;
    border: none;
    font-size: 1.3rem;
    border-radius: 2rem;
    position: relative;
}

#butt:hover {
    background-color: rgb(255, 217, 0);
    color: black;
}

.about {
    position: relative;
    left: 11rem;
    top: 24rem;
    left: 36rem;
    background-color: whitesmoke;
    color: black;
    padding: 1rem;
    border: none;
    font-size: 1.3rem;
    border-radius: 2rem;
}

.nextstep {
    position: relative;
    top: 35rem;
    left: 3rem;
    width: 24rem;
    padding: 0.3rem;
    font-size: 1.3rem;
    background-color: grey;
    border: -0.8rem solid;
    border-radius: 2.2rem;
    height: 26rem;
}


.nextstep>h3 {
    letter-spacing: 2rem;
    margin: 2rem;
    padding: 1rem;
    font-family: monospace;
    font-size: 1.3rem;
}

.nextstep:hover {
    background-color: white;

}

.shutter {
    position: relative;
    left: 51rem;
    top: -23rem;
    float: right;
    width: 35rem;
}

.books {

    left: 8rem;
    top: -31rem;
    width: max-content;
    height: auto;
    position: relative;
    height: 20rem;
    z-index: 1rem;

}

.banner {
    position: relative;
    top: 24rem;
    width: 100%;
}

.application>h1 {
    position: relative;
    bottom: -18rem;
    left: 2rem;
    letter-spacing: 3rem;
    color: white;
    font-size: 2rem;

}

.application>p {
    position: relative;
    top: -10rem;
    right: -48rem;
    width: 28rem;
    height: 50rem;
    color: white;
    font-size: 1.3rem;

    padding: 0.3rem;
    height: auto;
    border-radius: 1.2rem;
}

//
.sentence {
    background-color: white;
}

.Do {
    color: grey;
    font-size: 2rem;

}

.para2 {
    padding: 1rem;
    font-size: 1.3rem;
    background-color: white;
    border: solid 0.2rem black;
    border-radius: 1rem;
    width: 28%;
    height: 32rem;
}


.Expense {
    padding: 1rem;
    font-size: 1.3rem;
    background-color: white;
    border: solid 0.2rem black;
    border-radius: 1rem;
    width: 28%;
    height: 32rem;
}

.softwaremaker {
    letter-spacing: 1rem;
    font-size: 1rem;
    font-family: cursive;

}

.revenue {
    letter-spacing: 1rem;
    font-size: 1.2rem;
    font-family: cursive;
}

.softwarema {
    letter-spacing: 1rem;
    font-size: 1rem;
    font-family: cursive;
}


.group {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.para2:hover {
    background-color: slateblue;
}

.para5:hover {
    background-color: slateblue;

}

.Expense:hover {
    background-color: slateblue;
}


.sentence {
    text-align: center;
    padding: 0.8rem;
    font-size: 1.2rem;
    font-family: cursive;
}

.Do {
    font-size: 2rem;
}

#readmore {
    background-color: rgb(7, 7, 7);
    color: rgb(255, 253, 253);
    padding: 1.2rem;
    border: none;
    font-size: 1.2rem;
    border-radius: 0.8rem;
    position: relative;
    left: 550px;

}

#readmore:hover {
    background-color: gold;
    color: black;

}

.maker {
    padding: 1rem;
    font-size: 1.3rem;
    background-color: white;
    border: solid 0.2rem black;
    border-radius: 1rem;
    width: 28%;
    height: 32rem;
    color: black;
}

.form {
    padding: 2rem;
    margin: 2rem;
    background-color: slateblue;
    border-radius: 11rem;
    height: 35rem;
}

input {
    font-size: 1.2rem;
    height: 3rem;
    position: relative;
    border: none;
    background-color: azure;
    font-family: cursive;
    border-radius: 2.2rem;
    top: 4rem;
}

::placeholder {
    color: black;

}

.form>h3 {
    color: black;
    text-align: center;
    font-size: 2.5rem;
    margin: -1rem;

}

.form>p {
    margin: 1.2rem;
    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-family: cursive;

}

.submit {

    top: 8rem;
    left: 4rem;
    background-color: whitesmoke;
    color: black;
    padding: 1rem;
    border: none;
    font-size: 1.3rem;
    border-radius: 2rem;
    position: relative;
    font-family: cursive;
}

.submit:hover {
    background-color: rgb(255, 217, 0);
    color: black;
}

.map {
    position: relative;
    top: -15rem;
    left: 45rem;
}

.time{
    position: absolute;
    top: 22rem;
    left: 49rem;
    letter-spacing: 4rem;
    color: white;
    font-size: 2rem;
}
.but2{
    position: absolute;
    padding: 1.3rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    border: none;
    font-family: cursive;
    left: 59rem;
    top: 26rem
}
.but2:hover{
    background-color: gold;
}
.but1{
    position: absolute;
    padding: 1.3rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    border: none;
    font-family: cursive;
    left: 35rem;
    top: 20rem;
}

.but1:hover{
    background-color: gold;
}

.leader{
    position: relative;
    top: 3rem;
    width: 20rem;
    display: inline;
    justify-content: space-evenly;
    height: 18rem;
    padding: 2rem;

}

.social{
    background-color: antiquewhite;
    width: 78rem;
    height: 5rem;
    position: relative;
    top: -2rem;
    z-index: -1;

}